.navbarTop {
    width: 100vw;
    background-color: var(--bg-primary);
}
.navigationItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15;
    width: 100%;
    overflow-x: auto;
}

.navigationItems a {
    color: var(--txt-color);
    padding: 15px;
}

.active {
    background-color: var(--skin-color);
}