.paper {
    margin: auto;
    width: 226mm;
    height: 286;
    display: flex;
    flex-direction: row;
    padding-top: 20mm;
    padding-bottom: 20mm;
}

.borderLeft {
    background-color: blueviolet;
    width: 10mm;
    line-height: normal;
}
.partExplain {
    background-color: #c4bebe;
    width: 90mm;

}
.partQuestion {
    background-color: #fff;
    border: 1px solid #fff;
    width: 56%;
    padding-right: 20mm;
    padding-left: 5mm;
}

/* question component */
.questionArea {
    display: flex;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #eee
}
.questionInfo {
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 12px;
    height: fit-content;
    width: fit-content
}
.questionTitle {
    font-weight: bold;
}
.questionChoose {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    /* margin-left: 4%; */
    margin-top: 5px;
    list-style-type: lower-alpha
}
.chooseOne {
    width: 48%;
    /* background-color: #ddd; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.chooseOne p {
    margin-bottom: 0;
}