:root {

  --bg-primary: #e6e6e6;
  --bg-secondry: #dadada;
  --bg-border: #cacaca;
  --txt-color: #0a0a0a;
  --muted-color: #595959;
  --skin-color: orange
}
:root x {
  --bg-primary: #1a1a1a;       /* Dark background */
  --bg-secondary: #2a2a2a;     /* Slightly lighter background */
  --bg-border: #3a3a3a;        /* Dark border */
  --txt-color: #f5f5f5;        /* Light text color */
  --muted-color: #a1a1a1;      /* Muted, medium-light gray */
  --skin-color: #ff9800;       /* Bright accent color (orange) */
}
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--bg-primary);
    --foreground: var(--txt-color);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--txt-color);
  /* background: var(--bg-secondry); */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
