.page {
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationBox {
  background-color: var(--bg-secondry);
  border: 1px solid var(--bg-border);
  width: 100%;
  height: 100px;
}
.navigationBox a {
  background-color: var(--bg-secondry);
  border: 1px solid var(--bg-border);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--txt-color);
}